<style>
  .bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
  }

  .bs-callout-danger {
    border-left-color: #ce4844;
  }

  .bs-callout-danger h4 {
      color: #ce4844;
  }
  .bs-callout h4 {
      margin-top: 0;
      margin-bottom: 5px;
  }
  
  .bs-callout p:last-child {
      margin-bottom: 0;
  }

</style>


<div class="bs-callout bs-callout-danger" id="callout-input-needs-type"> 
<h4>Type declaration required</h4> 
<p>Inputs will only be fully styled if their is properly declared.</p> 
</div>