<script>
imgurClientId='54683d093e16a62'

function postImgFileToImgur(file, cb) {  
  var formData = new FormData();
  formData.append("image", file);
  $.ajax({
    url: "https://api.imgur.com/3/image",
    type: "POST", datatype: "json",
    headers: {"Authorization": "Client-ID "+imgurClientId},
    data: formData,
    success: cb,
    cache: false, contentType: false, processData: false
  });
}

function appendImgToFileInput(input) {
  var file = $(input)[0].files[0]; //console.log(file.name);
  var container = $(input).closest('.uploadFileContainer');
  postImgFileToImgur(file, function(res){
    var link = res.data.link; //console.log(res.data);  
    container.after('<img height=100 src='+link+'/><input type="hidden" class="img_input" name="imgs[]" value="'+link+'">');
    $(input)[0].value = '';
    container.find('.uploadingToggle').toggle();
  });  
  debugger
  container.find('.uploadingToggle').toggle();
}
</script>

<%# when file is chosen, it is uploaded to imgur, an input with the link is appended, and the selection is cleared. %>
<div class='uploadFileContainer'>
  <span class='btn btn-primary uploadingToggle noDisplay'><i class='fa fa-spinner faa-spin animated'></i> Uploading...</span>  
  <label class='btn btn-primary uploadingToggle'> <i class="fa fa-folder-open"></i> Choose   Image <input accept='video/*,image/*' onchange=appendImgToFileInput(this) class='form-control' type='file' style='display: none'/></label>
</div>