<%
  q = params[:q].to_s
  results = $users.search_anywhere(q) + $items.search_anywhere(q)
%>

<section>
  <div> search results </div>
  <% results.each do |res| %>
    <div class='search_result'> 
      <%= res.to_json %>
    </div>
  <% end %>
</section>



