<%
  q = params[:q].to_s
  results = get_search_results(q)
%>

<section>
  <div> search results </div>
  <% results.each do |item| %>
    <div> 
      <%= erb :"pages/search/search_item", locals: {item: item} %>
    </div>
  <% end %>
</section>



