<%
buyer  = $users.get purchase['user_id']
seller = $users.get purchase['seller_id']
item   = $items.get purchase['item_id']

%>


<div class='bg1 m20 p10'>
  <b> Buyer: </b><span><%= erb :"users/single_user", locals: {user: buyer} %></span>
  <b> Seller: </b><span><%= erb :"users/single_user", locals: {user: seller} %></span>
  <b> Item: </b><span><%= erb :"items/single_item", locals: {item: item} %></span>

  <div><%= purchase.to_json %></div>
</div>