<link rel="stylesheet" href="/css/lib/unslider/unslider.dots.css">  
<link rel="stylesheet" href="/css/lib/unslider/unslider.css">  

<%
item['imgs'] = item['imgs'] || {}
item['videos'] = item['videos'] || {}
%>
<div class='row'>
<section class='border1 col-md-4 col-md-offset-4'>
<!-- <h4> Images </h4> -->

<div class="my-slider" style=''>
  <ul>
    <% item['imgs'].each do |img|%>
    <li> <img src='<%=img["link"]%>' style='width: 100%'> </li>
    <% end %>
    <% item['videos'].each do |video|%>
    <li> <video style='width: 100%; margin-top: 25%' controls><source src='<%=video["link"]%>'></video>
    <% end %>
  </ul>
</div>

<div class='border1'>
  <% item['imgs'].each do |img|%>
    <img src='<%=img["link"]%>' style='height: 100px'>
  <% end %>
  <% item['videos'].each do |video|%>
    <video src='<%=video["link"]%>' style='height: 100px; vertical-align: middle'>
  <% end %>
</div>
</section>
</div>