<h1>Forgot Password</h1>
<form class='form-group' action='/forgot_password' method='post'>
  <div class='input-group'>
    <label>Email</label>
    <input name='email' class='form-control' placeholder="email"> 
  </div>
  <button class='btn btn-lg btn-raised btn-primary'>Send</button>
</form>
