<h4> Add File </h4>

<script type="text/javascript" src="//api.filestackapi.com/filestack.js"></script>
</script>

<input type='hidden' id='zip_url_input' name='zip_url'>
<button type='button' id='zip_url_display' class='btn btn-success noDisplay'></button>
<input id='fileLoader' type="filepicker" data-fp-apikey="AwIje0068R1ysDHPZXrSMz" data-fp-mimetypes="*/*" data-fp-container="modal" onchange="appendFileInput(event)">


<script>
function appendFileInput(event) {
  debugger
  $("#zip_url_input").val(event.fpfile.url);
  $("#zip_url_display").text(event.fpfile.filename).show();
}
</script>