<%= filepicker_api_key = 'AwIje0068R1ysDHPZXrSMz' %>
<h4> Add File </h4>

<script type="text/javascript" src="//api.filestackapi.com/filestack.js"></script>

<input type="filepicker" data-fp-apikey="<%= filepicker_api_key %>"
onchange="alert(event.fpfile.url)">