<%
 zip_url = item['zip_url']
%>

<% if zip_url %>
  <%= erb :"items/parts/item_zip_url", locals: {item: item} %>
<% else %>
<label> Attach Zip File Of Product </label><br/>

<input type='hidden' id='zip_url_input' name='zip_url'>
<button type='button' id='zip_url_display' class='btn btn-success noDisplay'></button>

<input id='fileLoader' type="filepicker" data-fp-apikey="<%= ENV['FILEPICKER_API_KEY'] %>" data-fp-mimetypes=".zip,application/octet-stream,application/zip,application/x-zip,application/x-zip-compressed" data-fp-container="modal" data-fp-services="COMPUTER" onchange="appendFileInput(event)">


<script>
function appendFileInput(event) {
  $("#zip_url_input").val(event.fpfile.url);
  $("#zip_url_display").text(event.fpfile.filename).show();
}
</script>
<% end %>